Repository verdaccio/verdaccio, pull requests merged in 2018-08, with the labels that each got.

#886 fix: fix docker python issue #883
  Dockerfile
Labels: Docker

#894 docs(website): add team member page
  website/data/team.yml
  website/i18n/en.json
  website/package.json
  website/pages/en/team.js
  website/pages/en/users.js
  website/siteConfig.js
  website/static/css/custom.css
  website/static/svg/social/crowdin.ico
  website/static/svg/social/crowdin.png
  website/static/svg/social/github.svg
  website/static/svg/social/twitter.svg
  website/utils.js
  website/yarn.lock
Labels: website

#907 feat(translations): enable Chinese Simplified on website
  crowdin.yaml
  website/languages.js
  website/translated_docs/zh-CN/ansible.md
  website/translated_docs/zh-CN/auth.md
  website/translated_docs/zh-CN/build.md
  website/translated_docs/zh-CN/chef.md
  website/translated_docs/zh-CN/ci.md
  website/translated_docs/zh-CN/cli.md
  website/translated_docs/zh-CN/config.md
  website/translated_docs/zh-CN/contributing.md
  website/translated_docs/zh-CN/dev-plugins.md
  website/translated_docs/zh-CN/docker.md
  website/translated_docs/zh-CN/home.md
  website/translated_docs/zh-CN/iis-server.md
  website/translated_docs/zh-CN/index.md
  website/translated_docs/zh-CN/install.md
  website/translated_docs/zh-CN/kubernetes.md
  website/translated_docs/zh-CN/logger.md
  website/translated_docs/zh-CN/node-api.md
  website/translated_docs/zh-CN/notifications.md
  website/translated_docs/zh-CN/packages.md
  website/translated_docs/zh-CN/plugins.md
  website/translated_docs/zh-CN/protect-your-dependencies.md
  website/translated_docs/zh-CN/puppet.md
  website/translated_docs/zh-CN/repositories.md
  website/translated_docs/zh-CN/reverse-proxy.md
  website/translated_docs/zh-CN/server.md
  website/translated_docs/zh-CN/ssl.md
  website/translated_docs/zh-CN/test.md
  website/translated_docs/zh-CN/uplinks.md
  website/translated_docs/zh-CN/use-cases.md
  website/translated_docs/zh-CN/web.md
  website/translated_docs/zh-CN/what-is-verdaccio.md
  website/translated_docs/zh-CN/windows.md
Labels: translations, website

#902 fix(webui): search crash on ' ' as a value #898
  src/webui/modules/home/index.js
  test/unit/webui/modules/home.spec.js
Labels: code-review

#917 docs: document package regex syntax
  docs/packages.md
Labels: documentation

#919 Update glibc package signing key URL
  Dockerfile
Labels: Docker

#915 Update indexer and allow search by author, version and keyword
  flow-typed/npm/lunr-mutable-indexes_vx.x.x.js
  flow-typed/npm/lunr_vx.x.x.js
  package.json
  src/lib/search.js
  src/webui/components/Package/index.js
  src/webui/components/Package/package.scss
  src/webui/components/PackageList/index.js
  test/unit/webui/components/__snapshots__/package.spec.js.snap
  test/unit/webui/components/__snapshots__/packagelist.spec.js.snap
  types/index.js
  yarn.lock
Labels: Web

#914 fix: login without reload (#678) (#679)
  .babelrc
  jest.config.js
  package.json
  src/lib/crypto-utils.js
  src/webui/app.js
  src/webui/components/Header/header.scss
  src/webui/components/Header/index.js
  src/webui/components/Login/index.js
  src/webui/modules/detail/index.jsx
  src/webui/modules/home/index.js
  src/webui/router.js
  src/webui/utils/asyncComponent.js
  src/webui/utils/login.js
  src/webui/utils/logo.js
  test/e2e/e2e.spec.js
  test/unit/setup.js
  test/unit/webui/app.spec.js
  test/unit/webui/components/__mocks__/api.js
  test/unit/webui/components/__mocks__/token.js
  test/unit/webui/components/__snapshots__/header.spec.js.snap
  test/unit/webui/components/__snapshots__/login.spec.js.snap
  test/unit/webui/components/header.spec.js
  test/unit/webui/components/login.spec.js
  test/unit/webui/components/store/login.js
  test/unit/webui/components/store/package.js
  test/unit/webui/utils/login.spec.js
  test/unit/webui/utils/logo.spec.js
  yarn.lock
Labels: Web, code-review

#896 feat: add support for jwt on api
  .gitignore
  conf/default.yaml
  conf/docker.yaml
  docs/config.md
  docs/uplinks.md
  package.json
  src/api/endpoint/api/user.js
  src/api/endpoint/index.js
  src/api/index.js
  src/api/web/api.js
  src/api/web/endpoint/user.js
  src/api/web/index.js
  src/lib/auth-utils.js
  src/lib/auth.js
  src/lib/config.js
  src/lib/constants.js
  src/lib/crypto-utils.js
  src/lib/utils.js
  src/webui/utils/api.js
  test/functional/uplinks/cache.js
  test/lib/request.js
  test/lib/server_process.js
  test/unit/__helper.js
  test/unit/api/__api-helper.js
  test/unit/api/api.jwt.spec.js
  test/unit/api/auth-utils.spec.js
  test/unit/api/auth.spec.js
  test/unit/api/config-utils.spec.js
  test/unit/partials/config/yaml/api-jwt/jwt.yaml
  test/unit/partials/config/yaml/security/security-basic.yaml
  test/unit/partials/config/yaml/security/security-empty.yaml
  test/unit/partials/config/yaml/security/security-jwt-legacy-enabled.yaml
  test/unit/partials/config/yaml/security/security-jwt.yaml
  test/unit/partials/config/yaml/security/security-legacy-disabled.yaml
  test/unit/partials/config/yaml/security/security-legacy.yaml
  test/unit/partials/config/yaml/security/security-missing.yaml
  test/unit/partials/config/yaml/security/security-no-legacy.yaml
  test/unit/partials/store/storage/.sinopia-db.json
  types/index.js
  yarn.lock
Labels: code-review

#929 Make systemd unit more production-like
  docs/server.md
  systemd/verdaccio.service
Labels: Feature Request

#942 fix: path to static directory could be changed
  src/api/web/index.js
Labels: Web, devops

#893 fix: bugs related to logging with type json
  src/api/middleware.js
  src/lib/logger.js
  src/lib/up-storage.js
Labels: Fixed, High Priority
