Repository verdaccio/verdaccio, pull requests merged in 2018-09, with the labels that each got.

#982 fix: missing properties for default matcher #981
  src/lib/config-utils.js
  test/unit/api/config-utils.spec.js
Labels: High Priority, bug

#950 feat: replaced element-react by Material-UI
  package.json
  src/webui/app.js
  src/webui/components/Header/index.js
  src/webui/components/Login/index.js
  src/webui/components/Login/login.scss
  src/webui/components/Package/index.js
  src/webui/components/Package/package.scss
  src/webui/modules/detail/index.jsx
  src/webui/modules/home/home.scss
  src/webui/modules/home/index.js
  src/webui/styles/variables.scss
  src/webui/template/index.html
  test/e2e/e2e.spec.js
  test/unit/api/basic_system.spec.js
  test/unit/webui/app.spec.js
  test/unit/webui/components/__snapshots__/header.spec.js.snap
  test/unit/webui/components/__snapshots__/login.spec.js.snap
  test/unit/webui/components/__snapshots__/package.spec.js.snap
  test/unit/webui/components/__snapshots__/packagelist.spec.js.snap
  test/unit/webui/components/login.spec.js
  test/unit/webui/components/package.spec.js
  yarn.lock
Labels: Web

#985 feat: replaced element-react by Material-UI (#950)
  package.json
  src/webui/app.js
  src/webui/components/Header/index.js
  src/webui/components/Login/index.js
  src/webui/components/Login/login.scss
  src/webui/components/Package/index.js
  src/webui/components/Package/package.scss
  src/webui/modules/detail/index.jsx
  src/webui/modules/home/home.scss
  src/webui/modules/home/index.js
  src/webui/styles/variables.scss
  src/webui/template/index.html
  test/e2e/e2e.spec.js
  test/unit/api/basic_system.spec.js
  test/unit/webui/app.spec.js
  test/unit/webui/components/__snapshots__/header.spec.js.snap
  test/unit/webui/components/__snapshots__/login.spec.js.snap
  test/unit/webui/components/__snapshots__/package.spec.js.snap
  test/unit/webui/components/__snapshots__/packagelist.spec.js.snap
  test/unit/webui/components/login.spec.js
  test/unit/webui/components/package.spec.js
  yarn.lock
Labels: Web

#974 test: Increase coverage for unit test
  flow-typed/npm/jest_v23.x.x.js
  flow-typed/npm/lodash_v4.x.x.js
  jest.config.js
  src/api/middleware.js
  src/lib/bootstrap.js
  src/lib/cli/utils.js
  src/lib/constants.js
  src/lib/notify/index.js
  src/lib/notify/notify-request.js
  src/lib/notify/notify-template.js
  src/lib/utils.js
  test/functional/package/access.js
  test/unit/api/cli.spec.js
  test/unit/api/notify.spec.js
  test/unit/api/utils.spec.js
  test/unit/partials/config/yaml/notify/multiple.notify.yaml
  test/unit/partials/config/yaml/notify/single.header.notify.yaml
  test/unit/partials/config/yaml/notify/single.notify.yaml
  test/unit/partials/config/yaml/notify/single.packagePattern.notify.yaml
Labels: High Priority, Test Development

#1011 fix: token expire error also should returns anonymous user
  src/lib/auth-utils.js
Labels: High Priority, bug

#1006 Header Section Refactor - New UI
  .babelrc
  flow-typed/npm/@material-ui/core_vx.x.x.js
  flow-typed/npm/@material-ui/icons_vx.x.x.js
  flow-typed/npm/react-emotion_vx.x.x.js
  package.json
  src/webui/components/CopyToClipBoard/index.js
  src/webui/components/CopyToClipBoard/interfaces.js
  src/webui/components/CopyToClipBoard/styles.js
  src/webui/components/Header/header.scss
  src/webui/components/Header/index.js
  src/webui/components/Header/interfaces.js
  src/webui/components/Header/logo.png
  src/webui/components/Header/styles.js
  src/webui/components/Link/index.js
  src/webui/components/Link/interfaces.js
  src/webui/components/Login/index.js
  src/webui/components/Logo/img/logo.svg
  src/webui/components/Logo/index.js
  src/webui/components/PackageSidebar/modules/Infos/index.jsx
  src/webui/components/RegistryInfoDialog/index.js
  src/webui/components/RegistryInfoDialog/interfaces.js
  src/webui/components/RegistryInfoDialog/styles.js
  src/webui/styles/global.scss
  src/webui/utils/styles/colors.js
  src/webui/utils/styles/global.js
  src/webui/utils/styles/media.js
  src/webui/utils/styles/sizes.js
  src/webui/utils/styles/spacings.js
  test/e2e/e2e.spec.js
  test/unit/setup.js
  test/unit/webui/components/PackageSidebar/__snapshots__/infos.spec.js.snap
  test/unit/webui/components/__snapshots__/copyToClipBoard.spec.js.snap
  test/unit/webui/components/__snapshots__/header.spec.js.snap
  test/unit/webui/components/__snapshots__/login.spec.js.snap
  test/unit/webui/components/__snapshots__/package.spec.js.snap
  test/unit/webui/components/__snapshots__/packagelist.spec.js.snap
  test/unit/webui/components/copyToClipBoard.spec.js
  test/unit/webui/components/header.spec.js
  test/unit/webui/components/login.spec.js
  yarn.lock
Labels: High Priority, Web

#1024 fix: normalize contributors field #1022
  package.json
  src/lib/local-storage.js
  src/lib/storage-utils.js
  src/lib/utils.js
  test/unit/api/utils.spec.js
  yarn.lock
Labels: High Priority, bug
