Repository verdaccio/verdaccio, pull requests merged in 2018-12, with the labels that each got.

#1139 fix: update node within Dockerfile
  Dockerfile
Labels: Docker, code-review

#1149 feat: allows package.json as package name
  src/lib/local-storage.js
  src/lib/utils.js
  test/functional/sanity/security.js
  test/unit/api/local-storage.spec.js
  test/unit/api/utils.spec.js
Labels: Feature Request

#1145 Package Refactor
  flow-typed/npm/@material-ui/core/Avatar_vx.x.x.js
  flow-typed/npm/polished_vx.x.x.js
  src/webui/app.js
  src/webui/components/AutoComplete/index.js
  src/webui/components/Footer/index.js
  src/webui/components/Header/styles.js
  src/webui/components/Icon/img/license.svg
  src/webui/components/Icon/img/time.svg
  src/webui/components/Icon/index.js
  src/webui/components/Icon/styles.js
  src/webui/components/Icon/types.js
  src/webui/components/Label/index.js
  src/webui/components/Label/types.js
  src/webui/components/Package/index.js
  src/webui/components/Package/package.scss
  src/webui/components/Package/styles.js
  src/webui/components/Package/types.js
  src/webui/components/PackageList/index.js
  src/webui/components/PackageList/packageList.scss
  src/webui/components/PackageSidebar/modules/PeerDependencies/index.jsx
  src/webui/components/Search/index.js
  src/webui/components/Tag/index.js
  src/webui/components/Tag/styles.js
  src/webui/components/Tag/types.js
  src/webui/styles/global.scss
  src/webui/styles/mixins.scss
  src/webui/styles/variables.scss
  src/webui/utils/package.js
  src/webui/utils/styles/ellipsis.js
  src/webui/utils/styles/media.js
  src/webui/utils/styles/mixings.js
  test/e2e/e2e.spec.js
  test/unit/api/utils.spec.js
  test/unit/webui/components/__snapshots__/footer.spec.js.snap
  test/unit/webui/components/__snapshots__/header.spec.js.snap
  test/unit/webui/components/__snapshots__/package.spec.js.snap
  test/unit/webui/components/__snapshots__/packagelist.spec.js.snap
  test/unit/webui/components/package.spec.js
  test/unit/webui/components/packagelist.spec.js
  test/unit/webui/components/search.spec.js
  test/unit/webui/utils/package.spec.js
  types/index.js
Labels: Web, refactor

#1158 fix: remove useless secureProtocol option
  src/lib/bootstrap.js
Labels: High Priority, waiting-user-feedback
