Repository verdaccio/verdaccio, pull requests merged in 2019-09, with the labels that each got.

#1457 feat: browse web package version
  package.json
  src/api/web/endpoint/package.ts
  src/lib/utils.ts
  test/unit/modules/web/api.web.spec.ts
  yarn.lock
Labels: topic: web

#1414 feat: ensure every log file has at least one record
  src/lib/cli.ts
  src/lib/logger.ts
Labels: dev: code-review, dev: high priority

#1427 feat: npm token command support
  .babelrc
  .eslintrc
  .npmrc
  .secrets-baseline
  README.md
  conf/default.yaml
  conf/docker.yaml
  package.json
  src/api/endpoint/api/stars.ts
  src/api/endpoint/api/v1/token.ts
  src/api/endpoint/index.ts
  src/api/web/endpoint/user.ts
  src/lib/auth.ts
  src/lib/bootstrap.ts
  src/lib/cli/utils.ts
  src/lib/config-path.ts
  src/lib/config-utils.ts
  src/lib/constants.ts
  src/lib/crypto-utils.ts
  src/lib/local-storage.ts
  src/lib/search.ts
  src/lib/storage.ts
  src/lib/up-storage.ts
  src/lib/utils.ts
  test/.eslintrc
  test/functional/fixtures/plugins/middlewares.uplink.js
  test/functional/uplinks/timeout.ts
  test/unit/modules/access/pkg.access.spec.ts
  test/unit/modules/api/token.spec.ts
  test/unit/modules/auth/crypto-utils.spec.ts
  test/unit/modules/cli/cli.spec.ts
  test/unit/partials/config/yaml/pkg.access.spec.yaml
  test/unit/partials/config/yaml/token.spec.yaml
  types/index.ts
  yarn.lock
Labels: topic: feature request, topic: npm

#1490 chore(deps): update verdaccio-audit to fix express version
  package.json
  yarn.lock
Labels: dependencies
