Repository verdaccio/verdaccio, pull requests merged in 2019-01, with the labels that each got.

#1196 fix: logo on header
  src/api/web/index.js
  src/webui/app.js
  src/webui/components/Header/index.js
  src/webui/components/Header/types.js
  src/webui/template/index.html
  src/webui/utils/logo.js
  test/unit/webui/app.spec.js
  test/unit/webui/components/header.spec.js
  test/unit/webui/utils/logo.spec.js
  tools/webpack.dev.config.babel.js
  tools/webpack.prod.config.babel.js
Labels: Web, bug

#1197 feat: migrate react router from hash to history api #1013
  src/api/web/index.js
  src/webui/app.js
  src/webui/components/Dependencies/index.js
  src/webui/components/DetailSidebar/index.js
  src/webui/components/Header/index.js
  src/webui/components/Package/index.js
  src/webui/components/Search/index.js
  src/webui/components/Search/types.js
  src/webui/history.js
  src/webui/pages/version/index.js
  src/webui/router.js
  src/webui/utils/package.js
  src/webui/utils/url.js
  test/e2e/e2e.spec.js
  test/unit/webui/components/PackageSidebar/__snapshots__/dependencies.spec.js.snap
  test/unit/webui/components/PackageSidebar/__snapshots__/peerDependencies.spec.js.snap
  test/unit/webui/components/__snapshots__/header.spec.js.snap
  test/unit/webui/components/__snapshots__/packagelist.spec.js.snap
  test/unit/webui/components/header.spec.js
  test/unit/webui/components/search.spec.js
Labels: Feature Request, Web, breaking-change

#1212 fix: don’t make change if `time` fields match (#1167)
  src/lib/local-storage.js
  test/unit/api/local-storage.spec.js
  test/unit/partials/metadata-update-versions-tags
Labels: code-review

#1211 fix: don’t update packages that have no uplinks after reading (#1204)
  src/lib/storage.js
  test/unit/api/store.spec.js
Labels: need verification

#1208 feat: not found page
  src/api/web/index.js
  src/webui/components/Developers/index.js
  src/webui/components/Layout/index.js
  src/webui/components/NotFound/img/package.svg
  src/webui/components/NotFound/index.js
  src/webui/components/NotFound/styles.js
  src/webui/components/NotFound/types.js
  src/webui/router.js
  test/unit/webui/components/__snapshots__/notfound.spec.js.snap
  test/unit/webui/components/notfound.spec.js
Labels: Feature Request, Web
