Repository verdaccio/verdaccio, pull requests merged in 2021-05, with the labels that each got.

#1688 feat: tarball url redirect
  conf/default.yaml
  conf/docker.yaml
  src/api/endpoint/api/package.ts
  src/lib/constants.ts
  src/lib/storage.ts
  test/unit/modules/api/api.spec.ts
Labels: dev: code-review, dev: experiment, feat: storage

#2226 feat: allow ui hide package managers on sidebar
  .changeset/wild-jokes-beam.md
  packages/core/types/index.d.ts
  packages/plugins/ui-theme/jest/setup.ts
  packages/plugins/ui-theme/src/components/ActionBar/ActionBar.tsx
  packages/plugins/ui-theme/src/pages/Version/DetailSidebar/Install/Install.test.tsx
  packages/plugins/ui-theme/src/pages/Version/DetailSidebar/Install/Install.tsx
  packages/plugins/ui-theme/src/pages/Version/DetailSidebar/Install/__snapshots__/Install.test.tsx.snap
  packages/plugins/ui-theme/src/providers/config/AppConfigurationProvider.tsx
  packages/plugins/ui-theme/tools/_verdaccio.config.yaml
  packages/plugins/ui-theme/tools/dev.server.js
  packages/plugins/ui-theme/tools/webpack.dev.config.babel.js
  packages/plugins/ui-theme/types/index.ts
  packages/web/src/renderHTML.ts
  packages/web/src/template.ts
Labels: topic: feature request, topic: web

#2228 UI: allow disable login UI
  .changeset/afraid-mice-obey.md
  packages/core/types/index.d.ts
  packages/plugins/ui-theme/src/App/Header/Header.test.tsx
  packages/plugins/ui-theme/src/App/Header/Header.tsx
  packages/plugins/ui-theme/src/App/Header/HeaderRight.tsx
  packages/plugins/ui-theme/src/providers/config/AppConfigurationProvider.tsx
  packages/plugins/ui-theme/tools/_verdaccio.config.yaml
  packages/plugins/ui-theme/types/index.ts
  packages/web/src/api/package.ts
  packages/web/src/api/readme.ts
  packages/web/src/middleware/web-api.ts
  packages/web/src/renderHTML.ts
  packages/web/src/utils/web-utils.ts
  packages/web/test/api.user.test.ts
  packages/web/test/config/login-disabled.yaml
  pnpm-lock.yaml
  test/e2e-ui/config/config-protected-e2e.yaml
  test/e2e-ui/config/config-scoped-e2e.yaml
  test/e2e-ui/e2e.spec.js
  test/e2e-ui/package.json
Labels: topic: feature request, topic: web

#2225 fix: fix the exact search phrase
  .changeset/red-chefs-float.md
  packages/server/test/web/index.spec.ts
  packages/store/package.json
  packages/store/src/search.ts
  packages/web/src/api/search.ts
  packages/web/test/api.search.test.ts
  pnpm-lock.yaml
Labels: bug: fixed, topic: search, topic: web

#2256 feat: implement search v1 endpoint
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  README.md
  conf/default.yaml
  conf/docker.yaml
  package.json
  src/api/endpoint/api/search.ts
  src/api/endpoint/api/v1/search.ts
  src/api/endpoint/index.ts
  src/api/web/endpoint/user.ts
  src/lib/storage.ts
  src/lib/up-storage.ts
  src/lib/utils.ts
  test/e2e-cli/config/_bootstrap_verdaccio.yaml
  test/e2e-cli/test/search/search.spec.ts
  test/unit/modules/api/api.search.spec.ts
  test/unit/modules/api/api.spec.ts
  test/unit/modules/api/partials/search-all.json
  test/unit/modules/api/partials/search-v1-empty.json
  test/unit/modules/api/partials/search-v1-forbidden.json
  test/unit/modules/api/partials/search-v1.json
  test/unit/partials/config/yaml/api.search.spec.yaml
  test/unit/partials/config/yaml/api.spec.yaml
Labels: topic: feature request, topic: npm7, topic: search

#2246 [Fastify] Add ping endpoint
  .changeset/heavy-ravens-lay.md
  packages/cli/package.json
  packages/cli/src/commands/newServer.ts
  packages/core/server/debug/fastify-conf.yaml
  packages/core/server/debug/index.ts
  packages/core/server/package.json
  packages/core/server/src/endpoints/ping.ts
  packages/core/server/src/server.ts
  pnpm-lock.yaml
Labels: fastify migration

#2270 fix: restore using local path web logo
  src/api/middleware.ts
  src/api/web/html/renderHTML.ts
  src/api/web/index.ts
  test/unit/modules/web/__snapshots__/template.spec.ts.snap
  test/unit/modules/web/template.spec.ts
Labels: 5.x branch, bug: fixed, pending 6.x

#2271 fix: improve get headers from request #2190
  src/api/endpoint/api/whoami.ts
  src/api/middleware.ts
  src/lib/up-storage.ts
  src/lib/utils.ts
  test/unit/modules/utils/utils.spec.ts
Labels: bug: fixed, pending 6.x
