Repository verdaccio/verdaccio, pull requests merged in 2021-01, with the labels that each got.

#2043 feat: remove level dependency by lowdb for npm token cli as storage
  .changeset/late-adults-love.md
  package.json
  packages/api/src/index.ts
  packages/core/commons-api/src/index.ts
  packages/core/htpasswd/package.json
  packages/core/htpasswd/src/utils.ts
  packages/core/htpasswd/tsconfig.json
  packages/core/local-storage/package.json
  packages/core/local-storage/src/local-database.ts
  packages/core/local-storage/src/token.ts
  packages/core/local-storage/tests/local-database.test.ts
  packages/core/local-storage/tests/token.test.ts
  packages/core/types/index.d.ts
  packages/server/test/token/token.spec.yaml
  pnpm-lock.yaml
Labels: feat: breaking-change, topic: token

#2050 feat: add rate limit to all request
  .changeset/neat-toes-report.md
  packages/config/src/conf/default.yaml
  packages/config/src/config.ts
  packages/config/src/serverSettings.ts
  packages/core/types/index.d.ts
  packages/server/package.json
  packages/server/src/server.ts
  pnpm-lock.yaml
Labels: security, topic: feature request

#2046 feat: standalone server
  .changeset/plenty-news-remember.md
  .gitignore
  packages/auth/package.json
  packages/auth/src/auth.ts
  packages/auth/tsconfig.json
  packages/core/htpasswd/src/htpasswd.ts
  packages/core/htpasswd/src/index.ts
  packages/plugins/audit/src/audit.ts
  packages/server/package.json
  packages/server/src/server.ts
  packages/server/tsconfig.json
  packages/standalone/bin/verdaccio
  packages/standalone/build.js
  packages/standalone/package.json
  packages/standalone/scripts/web.ts
  packages/standalone/webpack.config.js
  pnpm-lock.yaml
Labels: feat: breaking-change

#2067 feat: enable keep alive
  conf/default.yaml
  conf/docker.yaml
  src/lib/up-storage.ts
Labels: performance

#2072 feat: allow other password hashing algorithms (#1917)
  .changeset/spicy-frogs-press.md
  packages/core/htpasswd/README.md
  packages/core/htpasswd/package.json
  packages/core/htpasswd/src/crypt3.ts
  packages/core/htpasswd/src/htpasswd.ts
  packages/core/htpasswd/src/utils.ts
  packages/core/htpasswd/tests/__snapshots__/utils.test.ts.snap
  packages/core/htpasswd/tests/crypt3.test.ts
  packages/core/htpasswd/tests/htpasswd.test.ts
  packages/core/htpasswd/tests/utils.test.ts
  pnpm-lock.yaml
Labels: feat: breaking-change, topic: feature request
