Repository verdaccio/verdaccio, pull requests merged in 2022-01, with the labels that each got.

#2855 Move from fastify-warning to process-warning
  packages/core/core/package.json
  packages/core/core/src/warning-utils.ts
  pnpm-lock.yaml
Labels: bot: dependencies

#2888 fix: update docker to v14.18.2
  Dockerfile
Labels: Docker, bot: dependencies, bot: docker-update

#2913 feat: align with v5 ui endpoints and ui small bugfix
  .changeset/light-walls-begin.md
  packages/plugins/ui-theme/jest/server-handlers.ts
  packages/plugins/ui-theme/src/components/AutoComplete/AutoCompleteV2.tsx
  packages/plugins/ui-theme/src/i18n/deprecated_translations_dont_use/cs-CZ.json
  packages/plugins/ui-theme/src/i18n/deprecated_translations_dont_use/de-DE.json
  packages/plugins/ui-theme/src/i18n/deprecated_translations_dont_use/en-US.json
  packages/plugins/ui-theme/src/i18n/deprecated_translations_dont_use/es-ES.json
  packages/plugins/ui-theme/src/i18n/deprecated_translations_dont_use/fr-FR.json
  packages/plugins/ui-theme/src/i18n/deprecated_translations_dont_use/ja-JP.json
  packages/plugins/ui-theme/src/i18n/deprecated_translations_dont_use/km-KH.json
  packages/plugins/ui-theme/src/i18n/deprecated_translations_dont_use/pt-BR.json
  packages/plugins/ui-theme/src/i18n/deprecated_translations_dont_use/ru-RU.json
  packages/plugins/ui-theme/src/i18n/deprecated_translations_dont_use/tr-TR.json
  packages/plugins/ui-theme/src/i18n/deprecated_translations_dont_use/uk-UA.json
  packages/plugins/ui-theme/src/i18n/deprecated_translations_dont_use/zh-CN.json
  packages/plugins/ui-theme/src/i18n/deprecated_translations_dont_use/zh-TW.json
  packages/plugins/ui-theme/src/store/models/login.ts
  packages/plugins/ui-theme/src/store/models/manifest.ts
  packages/plugins/ui-theme/src/store/models/packages.ts
  packages/plugins/ui-theme/src/store/models/search.ts
  packages/server/test/web/index.spec.ts
  packages/verdaccio/test/functional/readme/readme.ts
  packages/web/src/api/index.ts
  packages/web/src/api/package.ts
  packages/web/src/api/readme.ts
  packages/web/src/api/search.ts
  packages/web/src/api/sidebar.ts
  packages/web/src/api/user.ts
  packages/web/src/middleware/web-api.ts
  packages/web/test/api.packages.test.ts
  packages/web/test/api.readme.test.ts
  packages/web/test/api.search.test.ts
  packages/web/test/api.sidebar.test.ts
  packages/web/test/api.user.test.ts
Labels: topic: web

#2912 feat: use backward compatible UI from v6 on v5
  .pnp.js
  .yarn/cache/@verdaccio-ui-theme-npm-3.4.1-ff9f347e40-9873985e77.zip
  .yarn/cache/@verdaccio-ui-theme-npm-6.0.0-6-next.14-bb07b4ae3e-a6072d1835.zip
  package.json
  test/e2e/e2e.spec.js
  yarn.lock
Labels: topic: web

#2936 feat: improve language switch ui and package manager info
  .changeset/tiny-seals-join.md
  package.json
  packages/plugins/ui-theme/.npmignore
  packages/plugins/ui-theme/jest/jest.config.js
  packages/plugins/ui-theme/package.json
  packages/plugins/ui-theme/src/App/Header/Header.tsx
  packages/plugins/ui-theme/src/App/Header/HeaderInfoDialog.tsx
  packages/plugins/ui-theme/src/App/Header/HeaderMenu.tsx
  packages/plugins/ui-theme/src/App/Header/HeaderRight.tsx
  packages/plugins/ui-theme/src/App/Header/HeaderToolTip.tsx
  packages/plugins/ui-theme/src/App/Header/HeaderToolTipIcon.tsx
  packages/plugins/ui-theme/src/App/Header/LanguageSwitch.tsx
  packages/plugins/ui-theme/src/App/Header/RegistryInfoContent/RegistryInfoContent.test.tsx
  packages/plugins/ui-theme/src/App/Header/RegistryInfoContent/RegistryInfoContent.tsx
  packages/plugins/ui-theme/src/App/Header/RegistryInfoContent/styles.ts
  packages/plugins/ui-theme/src/App/Header/RegistryInfoDialog/RegistryInfoDialog.tsx
  packages/plugins/ui-theme/src/App/Header/RegistryInfoDialog/styles.ts
  packages/plugins/ui-theme/src/__mocks__/react-markdown.tsx
  packages/plugins/ui-theme/src/__mocks__/remark-plugin.ts
  packages/plugins/ui-theme/src/components/AutoComplete/AutoCompleteV2.tsx
  packages/plugins/ui-theme/src/components/AutoComplete/useAutoComplete.tsx
  packages/plugins/ui-theme/src/components/CardContent.tsx
  packages/plugins/ui-theme/src/components/Chip.tsx
  packages/plugins/ui-theme/src/components/CopyToClipBoard.tsx
  packages/plugins/ui-theme/src/components/Tooltip.tsx
  packages/plugins/ui-theme/src/design-tokens/theme.ts
  packages/plugins/ui-theme/src/i18n/crowdin/ui.json
  packages/plugins/ui-theme/src/pages/home/PackageList/Help/__snapshots__/Help.test.tsx.snap
  packages/plugins/ui-theme/src/utils/cli-utils.ts
  packages/plugins/ui-theme/tools/_verdaccio.config.yaml
  packages/plugins/ui-theme/tools/webpack.dev.config.babel.js
  packages/plugins/ui-theme/tools/webpack.prod.config.babel.js
  pnpm-lock.yaml
  website/docs/web.md
Labels: topic: web

#2966 Fix re-opening log files using SIGUSR2
  src/lib/logger/logger.ts
Labels: topic: logging, pending 6.x
