Repository verdaccio/verdaccio, pull requests merged in 2023-12, with the labels that each got.

#4231 feat: update docker base image to node20
  .github/workflows/ci.yml
  .nvmrc
  .yarn/cache/fsevents-patch-2882183fbf-8.zip
  Dockerfile
Labels: Docker, 5.x branch

#4233 fix: restore search all endpoint
  src/api/endpoint/api/search.ts
  src/api/endpoint/index.ts
Labels: 5.x branch

#4294 chore(website): enhance plugin search ui
  scripts/addon-update.ts
  website/sidebars.js
  website/src/components/EcosystemSearch/AddonCard.tsx
  website/src/components/EcosystemSearch/CardLogo.tsx
  website/src/components/EcosystemSearch/FilterControl.tsx
  website/src/components/EcosystemSearch/Icon.tsx
  website/src/components/EcosystemSearch/addons.json
  website/src/components/Header.tsx
  website/src/components/Logo.tsx
  website/versioned_sidebars/version-5.x-sidebars.json
  website/versioned_sidebars/version-6.x-sidebars.json
Labels: website

#4321 chore(website): addons update codeql
  scripts/addon-update.ts
Labels: website
