Repository verdaccio/verdaccio, pull requests merged in 2023-04, with the labels that each got.

#3739 fix: ui and docker nightly image
  .github/workflows/ci.yml
  .github/workflows/e2e-ci.yml
  .github/workflows/website.yml
  Dockerfile
  package.json
  packages/plugins/ui-theme/package.json
  packages/plugins/ui-theme/src/App/App.tsx
  packages/plugins/ui-theme/tools/webpack.config.js
  packages/ui-components/package.json
  packages/ui-components/src/Theme/ThemeProvider.tsx
  packages/ui-components/src/components/Deprecated/Deprecated.tsx
  packages/ui-components/tsconfig.json
  pnpm-lock.yaml
  website/package.json
  website/src/components/Contributors.tsx
  website/src/components/EcosystemSearch/AddonCard.tsx
  website/src/components/EcosystemSearch/EcosystemSearch.tsx
  website/src/components/EcosystemSearch/FilterControl.tsx
  website/src/components/EcosystemSearch/ToolList.tsx
Labels: 6.x bugs

#3745 fix @mdx-js/react
  pnpm-lock.yaml
  website/package.json
Labels: website

#3750 fix wrong htpasswd file location
  .changeset/silly-moose-watch.md
  packages/plugins/htpasswd/src/htpasswd.ts
Labels: feat: auth

#3751 feat: update docker base image v18.16.0
  Dockerfile
Labels: Docker

#3694 feat: async bcrypt hash
  .changeset/tender-tigers-hammer.md
  packages/auth/test/auth.spec.ts
  packages/core/core/src/constants.ts
  packages/core/core/src/index.ts
  packages/core/types/src/configuration.ts
  packages/plugins/htpasswd/src/htpasswd.ts
  packages/plugins/htpasswd/src/utils.ts
  packages/plugins/htpasswd/tests/htpasswd.test.ts
  packages/plugins/htpasswd/tests/utils.test.ts
Labels: 5.x branch, 6.x release, plugin: htpasswd

#3763 fix: fixed an issue where logger.info in allow_action always output undefined
  src/lib/auth-utils.ts
Labels: issue: bug
