Repository verdaccio/verdaccio, pull requests merged in 2023-09, with the labels that each got.

#4001 feat: search on cache packages
  .pnp.cjs
  .yarn/cache/@verdaccio-local-storage-npm-10.3.3-e7afb8358f-70f47ea94f.zip
  .yarn/cache/@verdaccio-local-storage-npm-10.3.4-0cb62e08e9-3a0ea32fa1.zip
  package.json
  src/api/endpoint/api/v1/search.ts
  src/lib/local-storage.ts
  src/lib/search-utils.ts
  src/lib/storage.ts
  src/lib/transform-search-results.ts
  test/unit/modules/api/search.spec.ts
  test/unit/modules/storage/local-storage.spec.ts
  yarn.lock
Labels: topic: search, 6.x branch

#4002 fix: check if node.js minimum version is correct
  src/lib/cli.ts
Labels: dev: cli

#4007 fix: ui expired token
  .changeset/angry-trees-tie.md
  packages/ui-components/jest/unit/components/__mocks__/token.ts
  packages/ui-components/package.json
  packages/ui-components/src/store/models/login.test.ts
  packages/ui-components/src/store/models/login.ts
  packages/ui-components/src/utils/index.ts
  packages/ui-components/src/utils/token.test.ts
  packages/ui-components/src/utils/token.ts
  pnpm-lock.yaml
Labels: dev: code-review, bug: fixed
