Repository verdaccio/verdaccio, pull requests merged in 2024-08, with the labels that each got.

#4760 chore: migrate config package to vitest
  .changeset/moody-mugs-pay.md
  package.json
  packages/config/package.json
  packages/config/src/config-path.ts
  packages/config/src/config-utils.ts
  packages/config/test/__snapshots__/builder.spec.ts.snap
  packages/config/test/__snapshots__/config-parsing.spec.ts.snap
  packages/config/test/agent.spec.ts
  packages/config/test/builder.spec.ts
  packages/config/test/config-parsing.spec.ts
  packages/config/test/config-utils.spec.ts
  packages/config/test/config.path.spec.ts
  packages/config/test/config.spec.ts
  packages/config/test/package-access.spec.ts
  packages/config/test/token.spec.ts
  packages/config/test/uplinks.spec.ts
  packages/config/test/utils.spec.ts
  pnpm-lock.yaml
Labels: dev: refactor, topic: config

#4777 chore: migrate vitest packages
  packages/config/jest.config.js
  packages/core/core/jest.config.js
  packages/core/core/package.json
  packages/core/core/test/errors.spec.ts
  packages/core/core/test/merge.dist.tags.spec.ts
  packages/core/core/test/mystreams.spec.ts
  packages/core/core/test/pkg-utils.spec.ts
  packages/core/core/test/string-utils.spec.ts
  packages/core/core/test/validation-utilts.spec.ts
  packages/core/tarball/jest.config.js
  packages/core/tarball/package.json
  packages/core/tarball/tests/convertDistRemoteToLocalTarballUrls.spec.ts
  packages/core/tarball/tests/getLocalRegistryTarballUri.spec.ts
  packages/core/tarball/tests/getTarballDetails.spec.ts
  packages/core/url/jest.config.js
  packages/core/url/package.json
  packages/core/url/tests/combineBaseUrl.spec.ts
  packages/core/url/tests/getPublicUrl.spec.ts
  packages/core/url/tests/getWebProtocol.spec.ts
  packages/core/url/tests/htttProtocol.spec.ts
  packages/core/url/tests/validHost.spec.ts
  packages/hooks/jest.config.js
  packages/hooks/package.json
  packages/hooks/test/notify-request.spec.ts
  packages/loaders/jest.config.js
  packages/loaders/package.json
  packages/loaders/test/plugin_loader_async.spec.ts
  packages/signature/jest.config.js
  packages/signature/package.json
  packages/signature/test/jwt.spec.ts
  packages/signature/test/legacy-token-deprecated.spec.ts
  packages/signature/test/legacy-token.spec.ts
  packages/signature/test/utilts.spec.ts
  packages/utils/jest.config.js
  packages/utils/package.json
  packages/utils/test/auth-utils.spec.ts
  packages/utils/test/matcher.spec.ts
  packages/utils/test/middleware-utils.spec.ts
  packages/utils/test/utils.spec.ts
Labels: dev: refactor

#4781 fix: enable Irish language on ui
  .changeset/dry-mirrors-roll.md
  packages/plugins/ui-theme/src/i18n/crowdin/ui.json
  packages/plugins/ui-theme/src/i18n/enabledLanguages.ts
  website/docusaurus.config.js
Labels: website, topic: ui, topic: translations

#4788 chore: improve startup logging
  .changeset/thick-avocados-provide.md
  packages/auth/src/auth.ts
  packages/cli/src/commands/init.ts
  packages/core/core/src/constants.ts
  packages/core/core/src/index.ts
  packages/loaders/src/plugin-async-loader.ts
  packages/node-api/src/server.ts
  packages/plugins/local-storage/src/local-database.ts
  packages/server/express/src/server.ts
  packages/store/src/local-storage.ts
  packages/store/src/storage.ts
  packages/web/src/middleware.ts
Labels: topic: logging

#4786 fix(config): test runs on Windows
  .changeset/swift-rabbits-vanish.md
  packages/config/test/config.path.spec.ts
Labels: topic: config
