Repository verdaccio/verdaccio, pull requests merged in 2024-06, with the labels that each got.

#4631 fix: log spacing depending on the FORMAT and COLORS options
  .changeset/dry-shoes-report.md
  packages/logger/logger-commons/test/logger.spec.ts
  packages/logger/logger-prettify/src/formatter.ts
  packages/logger/logger-prettify/src/utils.ts
  packages/logger/logger-prettify/test/__snapshots__/formatter.spec.ts.snap
  packages/logger/logger-prettify/test/index.spec.ts
  packages/logger/logger-prettify/test/utils.test.ts
Labels: topic: logging

#4661 Add documentation for bun and deno using private registry
  website/docs/setup-bun.md
  website/docs/setup-deno.md
  website/sidebars.js
  website/versioned_docs/version-5.x/setup-bun.md
  website/versioned_docs/version-5.x/setup-deno.md
  website/versioned_docs/version-6.x/setup-bun.md
  website/versioned_docs/version-6.x/setup-deno.md
  website/versioned_sidebars/version-5.x-sidebars.json
  website/versioned_sidebars/version-6.x-sidebars.json
Labels: website, docs

#4582 feat: add support for npm owner
  .changeset/grumpy-pots-watch.md
  README.md
  packages/api/src/package.ts
  packages/api/src/publish.ts
  packages/api/src/user.ts
  packages/api/test/integration/_helper.ts
  packages/api/test/integration/config/owner.yaml
  packages/api/test/integration/owner.spec.ts
  packages/api/test/integration/search.spec.ts
  packages/api/test/integration/user.spec.ts
  packages/config/src/conf/default.yaml
  packages/config/src/conf/docker.yaml
  packages/core/core/src/constants.ts
  packages/core/core/src/error-utils.ts
  packages/core/core/src/index.ts
  packages/core/core/src/validation-utils.ts
  packages/core/core/test/validation-utilts.spec.ts
  packages/core/types/src/configuration.ts
  packages/core/types/src/manifest.ts
  packages/store/src/lib/storage-utils.ts
  packages/store/src/storage.ts
  packages/store/src/type.ts
  packages/store/test/fixtures/config/publishWithOwnerAndCheck.yaml
  packages/store/test/fixtures/config/publishWithOwnerDefault.yaml
  packages/store/test/storage.spec.ts
  website/docs/config.md
Labels: topic: feature request, cmd: owner

#4673 Add OpenUPM to Verdaccio use cases
  website/docs/who-is-using.md
Labels: website

#4674 fix: update fields for abbreviated manifest
  .changeset/rich-shrimps-check.md
  packages/core/types/src/manifest.ts
  packages/store/src/storage.ts
  packages/store/test/storage.spec.ts
Labels: topic: manifest

#4679 chore: add config location and loglevel to startup log
  .changeset/chilly-rivers-chew.md
  packages/cli/src/commands/init.ts
Labels: topic: logging

#4680 fix: change bundleDependencies to array
  .changeset/twenty-queens-protect.md
  packages/core/types/src/manifest.ts
  packages/plugins/ui-theme/src/i18n/crowdin/ui.json
  packages/ui-components/src/components/Dependencies/Dependencies.stories.tsx
  packages/ui-components/src/components/Dependencies/Dependencies.tsx
  packages/ui-components/src/components/Dependencies/DependencyBlock.test.tsx
  packages/ui-components/src/components/Dependencies/DependencyBlock.tsx
Labels: topic: ui, topic: manifest

#4685 migrate helm chart
  .eslintignore
  .github/workflows/helm-chart-lint-test.yaml
  .github/workflows/helm-chart-release.yml
  .npmignore
  .prettierignore
  CODEOWNERS
  charts/verdaccio/Chart.yaml
  charts/verdaccio/templates/NOTES.txt
  charts/verdaccio/templates/_helpers.tpl
  charts/verdaccio/templates/configmap.yaml
  charts/verdaccio/templates/deployment.yaml
  charts/verdaccio/templates/htpasswd-secret.yaml
  charts/verdaccio/templates/ingress.yaml
  charts/verdaccio/templates/pvc.yaml
  charts/verdaccio/templates/secret.yaml
  charts/verdaccio/templates/service-account.yaml
  charts/verdaccio/templates/service.yaml
  charts/verdaccio/values.yaml
  ct.yaml
  packages/tools/generator-verdaccio-plugin/package.json
Labels: topic: kubernetes, helm

#4686 e2e plugin generator
  .github/workflows/plugin-generator-e2e.yaml
  e2e/docker/generator-e2e/generator.yaml
Labels: topic: generator
