Repository verdaccio/verdaccio, pull requests merged in 2024-05, with the labels that each got.

#4611 Update install.md
  README.md
  website/docs/install.md
  website/versioned_docs/version-5.x/install.md
  website/versioned_docs/version-6.x/install.md
Labels: website, docs

#4605 chore(types): Improve TS types for renderHTML and related functions
  .changeset/itchy-mangos-wink.md
  packages/core/url/src/index.ts
  packages/middleware/src/middlewares/web/utils/renderHTML.ts
Labels: dev: refactor, topic: typescript

#4619 docs: update e2e pages
  website/docs/e2e.md
  website/versioned_docs/version-5.x/e2e.md
  website/versioned_docs/version-6.x/e2e.md
Labels: docs

#4621 feat: add migrateToSecureLegacySignature property
  .changeset/wet-balloons-give.md
  .github/workflows/ci.yml
  .github/workflows/website.yml
  docs/env.variables.md
  packages/auth/src/auth.ts
  packages/auth/src/signature.ts
  packages/auth/src/utils.ts
  packages/auth/test/auth.spec.ts
  packages/config/src/config.ts
  packages/config/src/security.ts
  packages/config/src/token.ts
  packages/config/test/config.spec.ts
  packages/core/core/src/warning-utils.ts
  packages/core/types/src/configuration.ts
  packages/node-api/test/run-server.spec.ts
  packages/signature/package.json
  packages/signature/src/index.ts
  packages/signature/src/legacy-signature/index.ts
  packages/signature/src/legacy-signature/legacy-backward-compatible.ts
  packages/signature/src/legacy-signature/legacy-crypto.ts
  packages/signature/src/signature.ts
  packages/signature/test/legacy-token-deprecated-backward-compatible.spec.ts
  packages/signature/test/legacy-token-deprecated.spec.ts
  packages/tools/helpers/src/initializeServer.ts
  pnpm-lock.yaml
  website/docs/config.md
  website/versioned_docs/version-5.x/config.md
  website/versioned_docs/version-6.x/config.md
Labels: feat: breaking-change, 5.x branch, 6.x branch, topic: signature

#4638 docs: add bun as bash sample
  website/docs/e2e.md
  website/versioned_docs/version-5.x/e2e.md
  website/versioned_docs/version-6.x/e2e.md
Labels: website

#4617 docs: avoid using yo 5.x for plugin developer
  website/docs/plugin-generator.md
  website/versioned_docs/version-5.x/plugin-generator.md
  website/versioned_docs/version-6.x/plugin-generator.md
Labels: docs

#4643 feat: migrateToSecureLegacySignature 6.x
  .github/workflows/ci.yml
  .github/workflows/e2e-angular-cli-workflow.yml
  .github/workflows/e2e-jest-workflow.yml
  package.json
  src/index.ts
  src/lib/cli/commands/init.ts
  src/lib/config-path.ts
  src/lib/config.ts
  src/lib/run-server.ts
  src/lib/utils.ts
  test/unit/modules/bootstrap/legacy.spec.ts
  test/unit/modules/bootstrap/run-server.spec.ts
  test/unit/modules/cli/cli.spec.ts
  test/unit/modules/config/config.spec.ts
  test/unit/modules/utils/api.__test.template.ts
  tsconfig.json
  yarn.lock
Labels: 6.x branch

#4645 chore: clean up old code
  src/api/endpoint/index.ts
  src/api/index.ts
  src/api/middleware.ts
  test/helpers/initializeServer.ts
Labels: topic: maintenance, 6.x branch

#4655 docs: add comment about token secret length to v6 migration
  docs/migration-v5-to-v6.md
Labels: docs

#4653 feat: add tarball details for published packages
  .changeset/eight-icons-heal.md
  packages/core/tarball/package.json
  packages/core/tarball/src/getTarballDetails.ts
  packages/core/tarball/src/index.ts
  packages/core/tarball/tests/assets/tarball.tar
  packages/core/tarball/tests/assets/tarball.tgz
  packages/core/tarball/tests/getTarballDetails.spec.ts
  packages/store/src/storage.ts
  packages/store/test/storage.spec.ts
  pnpm-lock.yaml
Labels: feat: storage, topic: manifest

#4657 chore: fix types for some store tests
  .changeset/big-cameras-invent.md
  packages/store/test/storage-utils.spec.ts
  packages/store/test/storage.spec.ts
  packages/store/test/versions.spec.ts
Labels: topic: typescript
