Repository verdaccio/verdaccio, pull requests merged in 2024-09, with the labels that each got.

#4839 feat: update logger pino to latest
  .babelrc
  .changeset/beige-lions-type.md
  .changeset/pre.json
  packages/config/.babelrc
  packages/config/package.json
  packages/core/core/.babelrc
  packages/core/core/package.json
  packages/core/file-locking/package.json
  packages/core/tarball/.babelrc
  packages/core/tarball/package.json
  packages/core/url/.babelrc
  packages/core/url/package.json
  packages/logger/logger-7/.babelrc
  packages/logger/logger-7/CHANGELOG.md
  packages/logger/logger-7/README.md
  packages/logger/logger-7/jest.config.js
  packages/logger/logger-7/package.json
  packages/logger/logger-7/src/index.ts
  packages/logger/logger-7/tsconfig.build.json
  packages/logger/logger-7/tsconfig.json
  packages/logger/logger-commons/.babelrc
  packages/logger/logger-commons/package.json
  packages/logger/logger-prettify/package.json
  packages/logger/logger/package.json
  packages/middleware/.babelrc
  packages/middleware/package.json
  packages/plugins/audit/package.json
  packages/plugins/htpasswd/package.json
  packages/proxy/package.json
  packages/search-indexer/package.json
  packages/signature/package.json
  packages/tools/generator-verdaccio-plugin/src/app/templates/auth/_package.json
  packages/tools/generator-verdaccio-plugin/src/app/templates/middleware/_package.json
  packages/tools/generator-verdaccio-plugin/src/app/templates/storage/_package.json
  pnpm-lock.yaml
Labels: 7.x branch (experimental)

#4854 chore: reuse workflows 5.x
  .github/workflows/ci-lint.yml
  .github/workflows/ci.yml
  .github/workflows/docker-publish-pre-check.yml
  .github/workflows/docker-publish.yml
  .github/workflows/e2e-angular-cli-workflow.yml
  .github/workflows/e2e-gatsbyjs-cli-workflow.yml
  .github/workflows/e2e-jest-workflow.yml
  .github/workflows/registry.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
  .github/workflows/smok-test-docker.yml
  .github/workflows/smok-test-module-v14.yml
  .github/workflows/smoke-test-docker.yml
  .github/workflows/test-docker-publish.yml
  .github/workflows/test-publish-package.yml
Labels: github_actions, 5.x branch (legacy), topic: maintenance

#4853 chore: reuse workflows 7.x
  .github/workflows/ci-lint.yml
  .github/workflows/ci.yml
  .github/workflows/docker-publish-pre-check.yml
  .github/workflows/docker-publish.yml
  .github/workflows/e2e-angular-cli-workflow.yml
  .github/workflows/e2e-audit-workflow.yml
  .github/workflows/e2e-gatsbyjs-cli-workflow.yml
  .github/workflows/e2e-jest-workflow.yml
  .github/workflows/registry.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
  .github/workflows/smok-test-docker.yml
  .github/workflows/smok-test-module.yml
  .github/workflows/smoke-test-docker.yml
  .github/workflows/smoke-test-module.yml
  .github/workflows/test-docker-publish.yml
  .github/workflows/test-publish-package.yml
Labels: github_actions, topic: maintenance, 7.x branch (next)

#4846 fix(middleware): pass version to allow check
  .changeset/angry-doors-tan.md
  packages/middleware/src/middlewares/allow.ts
  packages/middleware/test/allow.spec.ts
Labels: feat: auth, topic: middleware
