Repository verdaccio/verdaccio, pull requests merged in 2024-07, with the labels that each got.

#4709 chore: fix type for country flags and hover titles
  .changeset/dirty-islands-push.md
  packages/plugins/ui-theme/package.json
  packages/plugins/ui-theme/src/i18n/crowdin/ui.json
  packages/plugins/ui-theme/src/i18n/enabledLanguages.ts
  packages/ui-components/src/sections/Footer/Footer.tsx
  pnpm-lock.yaml
Labels: topic: ui

#4712 chore: sync dependency defs between ui-components and ui-theme
  .changeset/good-lions-rush.md
  packages/ui-components/package.json
  pnpm-lock.yaml
Labels: topic: ui

#4719 chore(api): update comment about route parameters
  .changeset/witty-meals-nail.md
  packages/api/src/index.ts
Labels: topic: express

#4713 fix: Dockerfile warning FromAsCasing
  Dockerfile
  docker-examples/v5/plugins/docker-local-plugin/Dockerfile
  docker-examples/v6/plugins/docker-build-install-plugin/Dockerfile
  docker-examples/v6/plugins/docker-local-plugin/Dockerfile
Labels: docker-examples

#4720 fix: typo in config docs regarding check_owners
  .changeset/thin-snails-flow.md
  packages/config/src/conf/default.yaml
  packages/config/src/conf/docker.yaml
  website/docs/config.md
Labels: docs, topic: config

#4718 feat: verdaccio-audit support timeout option
  .changeset/many-bees-tickle.md
  packages/config/src/conf/default.yaml
  packages/config/src/conf/docker.yaml
  packages/plugins/audit/README.md
  packages/plugins/audit/src/audit.ts
  packages/plugins/audit/src/types.ts
  website/docs/config.md
  website/versioned_docs/version-5.x/config.md
Labels: plugins, topic: audit

#4721 chore(ui): update babel dependencies
  .babelrc
  .changeset/ten-kids-tan.md
  package.json
  packages/ui-components/package.json
  pnpm-lock.yaml
Labels: dependencies, topic: ui

#4727 fix(middleware): link to favicon in template
  .changeset/fluffy-onions-act.md
  packages/middleware/src/middlewares/web/utils/template.ts
  packages/middleware/test/__snapshots__/template.test.ts.snap
Labels: topic: web

#4744 fix(middleware): link to favicon in template
  .changeset/mighty-gorillas-fail.md
  packages/core/url/tests/getPublicUrl.spec.ts
  packages/middleware/package.json
  packages/middleware/src/middlewares/web/utils/manifest.ts
  packages/middleware/src/middlewares/web/utils/template.ts
  packages/middleware/test/__snapshots__/template.test.ts.snap
  packages/middleware/test/manifest.test.ts
  packages/middleware/test/template.test.ts
Labels: topic: web
