Repository verdaccio/verdaccio, pull requests merged in 2024-02, with the labels that each got.

#4504 fix: remove version from website title
  website/docusaurus.config.js
Labels: website

#4506 docs: fix typos in readme
  README.md
Labels: topic: readme

#4514 fix: ui dialog break pages on open due remark error
  .changeset/thirty-toes-swim.md
  e2e/ui/README.md
  e2e/ui/cypress.config.ts
  e2e/ui/cypress/e2e/home.cy.ts
  packages/plugins/ui-theme/package.json
  packages/plugins/ui-theme/src/App/App.tsx
  packages/ui-components/package.json
  packages/ui-components/src/sections/Header/HeaderSettingsDialog.tsx
  packages/ui-components/src/sections/Header/RegistryInfoContent/RegistryInfoContent.tsx
  pnpm-lock.yaml
Labels: issue: bug, topic: ui
