Repository verdaccio/verdaccio, pull requests merged in 2025-07, with the labels that each got.

#5324 feat: getListenAddress getConfigParsed methods
  .changeset/gold-parents-shave.md
  .github/workflows/ci.yml
  packages/config/src/address.ts
  packages/config/src/conf/index.ts
  packages/config/src/index.ts
  packages/config/src/parse.ts
  packages/config/test/address.spec.ts
  packages/config/test/parse.spec.ts
  packages/core/core/src/constants.ts
  packages/core/core/src/index.ts
  packages/node-api/src/cli-utils.ts
  packages/node-api/src/server.ts
  packages/node-api/test/node-api.utils.spec.ts
  packages/node-api/test/parseAddress.spec.ts
Labels: dev: refactor, topic: config

#5320 chore(proxy): update tests
  .changeset/seven-suits-kneel.md
  packages/proxy/test/headers.auth.spec.ts
  packages/proxy/test/proxy.error.___.ts
  packages/proxy/test/proxy.error.spec.ts
  packages/proxy/test/proxy.metadata.spec.ts
  packages/proxy/test/proxy.search.spec.ts
  packages/proxy/test/proxy.tarball.spec.ts
  packages/proxy/test/uplink-util.spec.ts
Labels: topic: proxy, topic: testing

#5332 fix(docs): warnings during website build
  .changeset/wet-comics-listen.md
  packages/tools/local-scripts/package.json
  packages/tools/local-scripts/src/api/utils.ts
  packages/tools/local-scripts/tsconfig.build.json
  website/docusaurus.config.js
  website/src/css/custom.scss
  website/versioned_docs/version-6.x/setup-pnpm.md
Labels: website

#5341 fix(docs): warnings during website build (2)
  .changeset/sweet-bulldogs-doubt.md
  packages/tools/local-scripts/src/index.ts
  packages/tools/local-scripts/tsconfig.json
  website/blog/2018-09-06-verdaccio-and-deterministic-lock-files.md
  website/blog/2018-10-21-verdaccio-4-alpha-release.md
  website/blog/2018-11-19-setting-up-verdaccio-on-digitalocean.md
  website/blog/2019-02-08-the-crazy-story-of-verdaccio.md
  website/blog/2019-02-24-migrating-verdaccio.md
  website/blog/2019-04-19-diving-into-jwt-support-for-verdaccio-4.md
  website/blog/2019-05-13-the-new-docker-image-verdaccio-4.md
  website/blog/2019-05-19-15-verdaccio-4-release.md
  website/blog/2019-07-08-verdaccio-410-release.md
  website/blog/2019-07-30-verdaccio-420-release.md
  website/blog/2019-09-07-managing-multiples-projects-with-lerna-and-yarn-workspaces.md
  website/blog/2019-09-30-verdaccio-430-release.md
  website/blog/2019-10-05-verdaccio-4-with-ldap-and-docker.md
  website/blog/2021-04-14-verdaccio-5-migration-guide.md
  website/docusaurus.config.js
Labels: website

#5343 chore(docs): troubleshooting link
  website/docs/setup-npm.md
  website/versioned_docs/version-6.x/setup-npm.md
Labels: website, topic: translations
