Repository verdaccio/verdaccio, pull requests merged in 2025-09, with the labels that each got.

#5310 feat: rewrite of memory storage
  .changeset/beige-cars-raise.md
  packages/plugins/memory/package.json
  packages/plugins/memory/src/local-memory.ts
  packages/plugins/memory/src/memory-handler.ts
  packages/plugins/memory/src/utils.ts
  packages/plugins/memory/test/local-memory.spec.ts
  packages/plugins/memory/test/memory-handler.spec.ts
  packages/plugins/memory/test/memory.__disabled__.ts
  pnpm-lock.yaml
Labels: feat: storage, plugin: verdaccio-memory

#5374 website: fix docs image pointing to old docker url
  website/docs/docker.md
  website/versioned_docs/version-6.x/docker.md
Labels: docs

#5395 chore: remove dev dependency pinst
  package.json
  yarn.lock
Labels: 6.x branch (latest)

#5406 chore: add types for createConfigFolder
  .changeset/friendly-worms-drum.md
  .github/workflows/plugin-generator-e2e.yaml
  packages/config/src/conf/default.yaml
  packages/config/src/config-path.ts
Labels: topic: maintenance
