Repository verdaccio/verdaccio, pull requests merged in 2025-05, with the labels that each got.

#5216 chore: update yarn version in Dockerfile
  Dockerfile
Labels: Docker, 6.x branch (latest)

#5215 fix: link to API page
  website/docusaurus.config.js
Labels: website

#5211 fix(ui): search chips when `showUplinks: false`
  .changeset/nine-onions-talk.md
  packages/ui-components/src/components/Search/SearchItem.tsx
Labels: topic: ui

#5209 chore(ui): avoid ts error for Alerts
  .changeset/dirty-countries-play.md
  packages/ui-components/src/components/Deprecated/Deprecated.tsx
  packages/ui-components/src/components/NoItems/NoItems.tsx
  packages/ui-components/src/components/Versions/Versions.tsx
Labels: topic: ui

#5228 docs: add a new link to the Docker custom image list
  website/docs/docker.md
  website/versioned_docs/version-6.x/docker.md
Labels: website, docker-examples

#5229 fix(ui): check token expiry on refresh/timer
  .changeset/afraid-cheetahs-rule.md
  packages/ui-components/src/sections/Header/Header.test.tsx
  packages/ui-components/src/sections/Header/Header.tsx
Labels: bug: fixed, topic: web, topic: ui

#5227 fix: support JWT sign and verify options
  .changeset/wicked-points-relate.md
  package.json
  packages/auth/src/auth.ts
  packages/auth/src/signature-legacy.ts
  packages/auth/src/utils.ts
  packages/auth/test/auth-utils-middleware.spec.ts
  packages/core/types/package.json
  packages/core/types/src/configuration.ts
  packages/signature/src/index.ts
  packages/signature/src/jwt-token.ts
  packages/signature/test/jwt.spec.ts
  pnpm-lock.yaml
Labels: feat: auth, security, topic: config

#5210 chore(ui): avoid ts errors for CircularProgress
  .changeset/sharp-queens-rhyme.md
  packages/ui-components/src/components/ActionBar/ActionBarAction.tsx
  packages/ui-components/src/components/Package/Package.tsx
Labels: topic: ui

#5231 docs(uplinks): updated the documentation for an example of AWS CodeArtifact in uplinks
  .changeset/modern-llamas-know.md
  website/docs/uplinks.md
  website/versioned_docs/version-6.x/uplinks.md
Labels: website, docs

#5237 feat(loader): support scoped plugins in plugin folder
  .changeset/afraid-cars-sneeze.md
  packages/loaders/src/plugin-async-loader.ts
  packages/loaders/test/partials/config/absolute-scoped-plugins.yaml
  packages/loaders/test/partials/config/custom-prefix-auth.yaml
  packages/loaders/test/partials/config/npm-plugin-auth.yaml
  packages/loaders/test/partials/config/npm-plugin-not-found.yaml
  packages/loaders/test/partials/config/npm-plugin-scope-auth.yaml
  packages/loaders/test/partials/config/plugins-folder-fake.yaml
  packages/loaders/test/partials/config/relative-plugins.yaml
  packages/loaders/test/partials/config/relative-scoped-plugins.yaml
  packages/loaders/test/partials/config/scope-auth.yaml
  packages/loaders/test/partials/config/valid-plugin-store.yaml
  packages/loaders/test/partials/config/valid-plugin.yaml
  packages/loaders/test/partials/test-plugin-storage/@verdaccio-scope/verdaccio-plugin/index.js
  packages/loaders/test/partials/test-plugin-storage/@verdaccio-scope/verdaccio-plugin/package.json
  packages/loaders/test/plugin_loader_async.spec.ts
Labels: plugins

#5238 fix(config): server settings
  .changeset/swift-mangos-grab.md
  packages/api/src/user.ts
  packages/api/src/v1/profile.ts
  packages/auth/src/auth.ts
  packages/config/src/config.ts
  packages/core/core/src/constants.ts
  packages/core/core/src/index.ts
  packages/loaders/src/plugin-async-loader.ts
  packages/server/express/src/server.ts
  packages/store/src/local-storage.ts
  packages/store/src/storage.ts
  packages/web/src/api/user.ts
  packages/web/src/index.ts
  packages/web/src/middleware.ts
Labels: topic: config

#5232 chore(types): use "Person" instead of "Author", add WebManifest
  .changeset/few-beds-itch.md
  packages/core/types/src/manifest.ts
  packages/store/src/storage.ts
Labels: topic: manifest

#5240 chore: enable CI Node.js 24
  .github/workflows/ci.yml
  .github/workflows/e2e-ci.yml
  Dockerfile
Labels: dev: ci-build, topic: maintenance

#5159 fix(local-storage): uncontrolled data used in path expression
  .changeset/hungry-dolls-destroy.md
  packages/plugins/local-storage/src/local-database.ts
  packages/plugins/local-storage/tests/local-database.test.ts
Labels: plugin: local-storage

#5234 chore(web): move utils to web package
  .changeset/four-buttons-remember.md
  packages/web/package.json
  packages/web/src/api/package.ts
  packages/web/src/api/readme.ts
  packages/web/src/api/sidebar.ts
  packages/web/src/author-utils.ts
  packages/web/src/index.ts
  packages/web/src/web-utils.ts
  packages/web/test/author-utils.spec.ts
  packages/web/test/web-utils.spec.ts
  pnpm-lock.yaml
Labels: topic: web, dev: refactor

#5242 chore(core): http status codes
  .changeset/hip-deers-join.md
  packages/core/core/src/constants.ts
Labels: dev: refactor

#5245 feat(e2e): add npm11
  .changeset/nasty-cooks-watch.md
  .github/workflows/e2e-ci.yml
  README.md
  e2e/cli/e2e-npm-commons/publish.ts
  e2e/cli/e2e-npm-commons/star.ts
  e2e/cli/e2e-npm-commons/unpublish.ts
  e2e/cli/e2e-npm11/.babelrc
  e2e/cli/e2e-npm11/.eslintrc
  e2e/cli/e2e-npm11/CHANGELOG.md
  e2e/cli/e2e-npm11/audit.spec.ts
  e2e/cli/e2e-npm11/deprecate.spec.ts
  e2e/cli/e2e-npm11/dist-tags.spec.ts
  e2e/cli/e2e-npm11/info.spec.ts
  e2e/cli/e2e-npm11/install.spec.ts
  e2e/cli/e2e-npm11/package.json
  e2e/cli/e2e-npm11/ping.spec.ts
  e2e/cli/e2e-npm11/publish.spec.ts
  e2e/cli/e2e-npm11/search.spec.ts
  e2e/cli/e2e-npm11/star.spec.ts
  e2e/cli/e2e-npm11/tsconfig.json
  e2e/cli/e2e-npm11/unpublish.spec.ts
  e2e/cli/e2e-npm11/utils.ts
  pnpm-lock.yaml
Labels: topic: e2e

#5243 chore(tarball): remove lodash, fix typing
  .changeset/wild-coins-lie.md
  packages/core/tarball/package.json
  packages/core/tarball/src/convertDistRemoteToLocalTarballUrls.ts
  packages/core/tarball/src/getLocalRegistryTarballUri.ts
  pnpm-lock.yaml
Labels: dev: refactor, topic: typescript

#5247 chore: update docker publish action
  .github/workflows/docker-publish.yml
Labels: Docker, dev: cli
