Repository verdaccio/verdaccio, pull requests merged in 2025-08, with the labels that each got.

#5342 chore: replace conditional `require(fs/promises)` pattern
  .changeset/beige-timers-greet.md
  packages/config/test/config-parsing.spec.ts
  packages/core/core/src/file-utils.ts
  packages/core/file-locking/src/utils.ts
  packages/loaders/src/plugin-async-loader.ts
  packages/plugins/local-storage/src/fs.ts
  packages/verdaccio/src/server/registry.ts
Labels: dev: refactor

#5349 fix: remove unused dependencies
  package.json
  yarn.lock
Labels: topic: maintenance, 6.x branch (latest)

#5339 chore(express): housekeeping
  .changeset/mean-timers-look.md
  packages/server/express/partials/store/htpasswd
  packages/server/express/src/server.ts
Labels: topic: typescript, topic: express

#5345 chore(deps): sync and pin dependencies
  .changeset/twelve-socks-accept.md
  docker-examples/v4/docker-plugin-external/plugins/verdaccio-memory/package.json
  e2e/ui/package.json
  package.json
  packages/core/tarball/package.json
  packages/plugins/auth-memory/package.json
  packages/plugins/ui-theme/package.json
  packages/proxy/package.json
  packages/tools/local-scripts/package.json
  packages/ui-components/package.json
  packages/ui-components/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  pnpm-lock.yaml
  website/package.json
Labels: dependencies

#5338 fix(config): avoid warning for multiple addresses
  .changeset/curvy-bananas-complain.md
  packages/config/src/address.ts
  packages/config/test/address.spec.ts
  packages/node-api/src/server.ts
Labels: topic: config

#5363 fix: improve button color contrast for accessibility
  website/src/components/Header.tsx
  website/src/css/custom.scss
Labels: website
