Repository verdaccio/verdaccio, pull requests merged in 2025-04, with the labels that each got.

#5186 fix(api): cidr whitelist for tokens
  .changeset/swift-zebras-cheer.md
  packages/api/src/v1/token.ts
Labels: topic: api

#5197 fix(server): web-enabled test
  .changeset/breezy-toys-judge.md
  packages/server/express/test/config/web-enabled.yaml
Labels: topic: express, topic: testing

#5196 fix(middleware): properly derive the html cache key
  .changeset/thick-dolphins-rule.md
  packages/middleware/src/middlewares/web/utils/renderHTML.ts
Labels: topic: middleware

#5200 fix(express): error loading middleware plugins
  .changeset/pink-pants-try.md
  packages/loaders/src/plugin-async-loader.ts
  packages/server/express/src/server.ts
Labels: plugins, topic: express, topic: middleware

#5205 update dangerous website link
  website/docs/install.md
Labels: website, docs

#5207 chore(ui): fix ts errors due to excluded test folder
  .changeset/silver-insects-train.md
  packages/ui-components/tsconfig.json
Labels: dev: tooling, topic: ui
