Repository verdaccio/verdaccio, pull requests merged in 2025-03, with the labels that each got.

#5104 fix: set eol default in `.gitattributes`
  .gitattributes
Labels: dev: tooling

#5103 fix(ui-components): typings for vitest/jest-dom
  .changeset/quick-avocados-type.md
  packages/ui-components/tsconfig.build.json
  packages/ui-components/tsconfig.json
  packages/ui-components/vitest.config.mjs
  packages/ui-components/vitest/server-handlers.ts
  packages/ui-components/vitest/setup-env.ts
  packages/ui-components/vitest/setup.ts
  packages/ui-components/vitest/testing-library.d.ts
Labels: dev: tooling, topic: testing

#5106 chore: update pnm10
  .github/workflows/e2e-ci.yml
  .github/workflows/x-e2e-jest-workflow.yml
  package.json
  pnpm-lock.yaml
Labels: dev: tooling

#5114 fix(web): anonymous user handling
  .changeset/proud-houses-switch.md
  packages/web/src/api/package.ts
  packages/web/test/api.packages.test.ts
Labels: topic: web, topic: testing

#5112 fix(docs): notification/alert box formatting
  website/docs/plugin-filter.md
  website/docs/plugin-theme.md
  website/docs/plugins.md
  website/versioned_docs/version-6.x/plugin-filter.md
  website/versioned_docs/version-6.x/plugin-theme.md
  website/versioned_docs/version-6.x/plugins.md
Labels: website

#5113 fix(ui-components): remove test warnings
  .changeset/popular-trees-grin.md
  packages/ui-components/src/AppTest/AppRoute.test.tsx
  packages/ui-components/src/components/ActionBar/ActionBar.test.tsx
  packages/ui-components/src/components/Package/Package.test.tsx
  packages/ui-components/src/components/Search/Search.tsx
  packages/ui-components/src/utils/url.ts
  packages/ui-components/tsconfig.json
  packages/ui-components/vitest/vitestHelpers.ts
Labels: topic: ui, topic: testing

#5115 chore: add ui translation package
  .changeset/itchy-glasses-end.md
  .gitignore
  crowdin.yaml
  packages/core/i18n/.babelrc
  packages/core/i18n/.eslintignore
  packages/core/i18n/.eslintrc.json
  packages/core/i18n/package.json
  packages/core/i18n/src/crowdin/ui.json
  packages/core/i18n/src/index.ts
  packages/core/i18n/src/loadTranslationFile.ts
  packages/core/i18n/tsconfig.build.json
  packages/core/i18n/tsconfig.json
  packages/plugins/ui-theme/package.json
  packages/plugins/ui-theme/src/i18n/config.ts
  packages/ui-components/.storybook/i18n/index.ts
  packages/ui-components/package.json
  pnpm-lock.yaml
Labels: topic: ui

#5116 chore: fix msw local development
  .github/workflows/changesets-pr.yml
  packages/ui-components/.storybook/main.ts
  packages/ui-components/.storybook/preview-head.html
  packages/ui-components/.storybook/preview.tsx
  packages/ui-components/package.json
  packages/ui-components/src/AppTest/App.stories.tsx
  packages/ui-components/src/components/Search/Search.stories.tsx
  packages/ui-components/src/layouts/Version/Version.stories.tsx
  packages/ui-components/src/sections/Detail/Detail.stories.tsx
  packages/ui-components/src/sections/Header/Header.stories.tsx
  packages/ui-components/src/sections/Home/Home.stories.tsx
  packages/ui-components/src/sections/SideBar/Sidebar.stories.tsx
  packages/ui-components/vitest/api/home.json
  pnpm-lock.yaml
Labels: dev: tooling

#5126 chore: middleware package update
  .changeset/violet-baboons-beg.md
  packages/middleware/src/middlewares/web/render-web.ts
  packages/middleware/src/middlewares/web/web-middleware.ts
  packages/middleware/src/middlewares/web/web-urls.ts
  packages/web/src/api/index.ts
Labels: topic: web, topic: middleware

#5122 chore: sort dependencies in package.json
  package.json
Labels: dev: tooling

#5121 fix(store): update deprecate state
  .changeset/tricky-knives-end.md
  packages/store/src/lib/storage-utils.ts
  packages/store/src/storage.ts
  packages/store/test/storage-utils.spec.ts
Labels: feat: storage, bug: fixed

#5123 fix(store): internal error when checking manifest
  .changeset/calm-mangos-compare.md
  packages/store/src/lib/storage-utils.ts
Labels: feat: storage, cmd: unpublish

#5125 fix(proxy): validate protocol of proxy settings
  .changeset/funny-fireants-tan.md
  packages/proxy/src/proxy.ts
  packages/proxy/test/proxy.protocol.spec.ts
  website/docs/config.md
  website/docs/uplinks.md
  website/versioned_docs/version-6.x/config.md
  website/versioned_docs/version-6.x/uplinks.md
Labels: topic: proxy, http_proxy

#5111 chore(middleware): improve loop detection
  .changeset/curly-mirrors-smile.md
  packages/middleware/src/middlewares/antiLoop.ts
  packages/middleware/test/antiLoop.spec.ts
  packages/middleware/test/loop.spec.ts
Labels: topic: middleware

#5127 chore: add package parameter to storage plugin interface
  .changeset/violet-bobcats-allow.md
  packages/core/core/src/plugin-utils.ts
  packages/store/src/storage.ts
Labels: feat: storage

#5136 fix: warnings when building website
  website/blog/2018-09-06-verdaccio-and-deterministic-lock-files.md
  website/blog/2018-10-21-verdaccio-4-alpha-release.md
  website/blog/2018-11-19-setting-up-verdaccio-on-digitalocean.md
  website/blog/2019-02-08-the-crazy-story-of-verdaccio.md
  website/blog/2019-02-24-migrating-verdaccio.md
  website/blog/2019-04-19-diving-into-jwt-support-for-verdaccio-4.md
  website/blog/2019-05-13-the-new-docker-image-verdaccio-4.md
  website/blog/2019-05-19-15-verdaccio-4-release.md
  website/blog/2019-07-08-verdaccio-410-release.md
  website/blog/2019-07-30-verdaccio-420-release.md
  website/blog/2019-09-07-managing-multiples-projects-with-lerna-and-yarn-workspaces.md
  website/blog/2019-09-30-verdaccio-430-release.md
  website/blog/2019-10-05-verdaccio-4-with-ldap-and-docker.md
  website/blog/2021-04-14-verdaccio-5-migration-guide.md
  website/blog/authors.yml
  website/docusaurus.config.js
Labels: website

#5135 fix: bluesky logo and links on website
  website/docusaurus.config.js
  website/src/css/custom.scss
  website/static/img/header/bluesky.svg
  website/static/img/header/github.svg
Labels: website

#5134 chore: package.json maintenance
  .changeset/pink-jeans-lick.md
  packages/api/package.json
  packages/auth/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/core/package.json
  packages/core/file-locking/package.json
  packages/core/i18n/package.json
  packages/core/tarball/package.json
  packages/core/types/package.json
  packages/core/url/package.json
  packages/hooks/package.json
  packages/loaders/package.json
  packages/logger/logger-commons/package.json
  packages/logger/logger-prettify/package.json
  packages/logger/logger/package.json
  packages/middleware/package.json
  packages/node-api/package.json
  packages/plugins/active-directory/package.json
  packages/plugins/htpasswd/package.json
  packages/plugins/local-storage/package.json
  packages/plugins/memory/package.json
  packages/plugins/ui-theme/package.json
  packages/proxy/package.json
  packages/search-indexer/package.json
  packages/search/package.json
  packages/server/express/package.json
  packages/server/fastify/package.json
  packages/signature/package.json
  packages/standalone/package.json
  packages/store/package.json
  packages/tools/eslint/package.json
  packages/tools/generator-verdaccio-plugin/package.json
  packages/tools/helpers/package.json
  packages/tools/local-publish/package.json
  packages/tools/local-scripts/package.json
  packages/ui-components/package.json
  packages/utils/package.json
  packages/verdaccio/package.json
  packages/web/package.json
Labels: dev: tooling

#5133 chore(deps): update webpack-dev-server to v5
  .changeset/brown-lions-talk.md
  packages/plugins/ui-theme/package.json
  packages/plugins/ui-theme/tools/dev.server.js
  packages/plugins/ui-theme/tools/webpack.dev.config.babel.js
  packages/plugins/ui-theme/tools/webpack.prod.config.babel.js
  packages/ui-components/src/Theme/index.ts
  packages/ui-components/src/components/Package/index.ts
  packages/ui-components/src/index.ts
  packages/ui-components/src/providers/TranslatorProvider/index.ts
  packages/ui-components/src/store/index.ts
  pnpm-lock.yaml
Labels: topic: web, dev: tooling, topic: ui

#5130 feat: upgrade load plugin and auth
  .github/workflows/e2e-jest-workflow.yml
  .pnp.cjs
  jest.config.js
  package.json
  src/api/endpoint/api/user.ts
  src/api/endpoint/api/v1/token.ts
  src/api/index.ts
  src/api/web/api/package.ts
  src/api/web/api/user.ts
  src/api/web/index.ts
  src/lib/auth.ts
  src/lib/local-storage.ts
  src/lib/plugin-loader.ts
  src/lib/storage.ts
  test/helpers/initializeServer.ts
  test/unit/modules/cli/cli.spec.ts
  test/unit/modules/plugin/auth.spec.ts
  test/unit/modules/plugin/plugin_loader.spec.ts
  test/unit/modules/storage/local-storage.spec.ts
  yarn.lock
Labels: WIP, 6.x branch (latest)

#5144 chore(ui): update react-json-view
  .changeset/eighty-apes-think.md
  packages/plugins/ui-theme/lib/constants.ts
  packages/plugins/ui-theme/package.json
  packages/ui-components/package.json
  pnpm-lock.yaml
Labels: topic: ui

#5147 fix: memory plugin limit error message
  .changeset/old-clocks-destroy.md
  packages/plugins/memory/src/local-memory.ts
  packages/plugins/memory/test/local-memory.spec.ts
Labels: plugin: verdaccio-memory

#5141 fix(ui): start storybook on windows
  .changeset/eight-countries-think.md
  packages/ui-components/package.json
Labels: dev: tooling, topic: ui

#5146 fix(ui): format date distance test
  .changeset/purple-planes-do.md
  packages/ui-components/src/utils/utils.test.ts
Labels: topic: ui, topic: testing

#5142 chore(ui): reduce build size
  .changeset/short-turkeys-boil.md
  packages/ui-components/.npmignore
  packages/ui-components/src/components/Install/img/npm.svg
  packages/ui-components/src/components/Install/img/pnpm.svg
  packages/ui-components/src/components/Install/img/yarn.svg
  packages/ui-components/src/components/Readme/Readme.test.tsx
  packages/ui-components/src/components/Repository/img/git.png
  packages/ui-components/src/providers/TranslatorProvider/TranslatorProvider.test.tsx
  packages/ui-components/src/types/external-modules.d.ts
  packages/ui-components/tsconfig.build.json
  packages/ui-components/tsconfig.json
Labels: dev: tooling, topic: ui

#5150 fix(i18n): avoid fallback for en-us
  .changeset/twelve-games-wonder.md
  packages/core/i18n/src/index.ts
  packages/core/i18n/src/loadTranslationFile.ts
Labels: topic: i18n

#5152 chore: debug messages in loader
  .changeset/red-dolls-repair.md
  packages/loaders/src/plugin-async-loader.ts
  packages/loaders/src/utils.ts
Labels: plugins

#5151 chore: remove obsolete test data from local-storage
  .changeset/ten-jeans-approve.md
  packages/plugins/local-storage/_storage/first-package/package.json
  packages/plugins/local-storage/_storage/new-readme-0.0.0.tgz
Labels: topic: testing, plugin: local-storage

#5153 fix: handling for uplink timeouts
  .changeset/ninety-hotels-dance.md
  packages/core/core/src/constants.ts
  packages/proxy/src/proxy.ts
  packages/proxy/test/proxy.metadata.spec.ts
  packages/store/src/storage.ts
  packages/store/test/storage.spec.ts
Labels: topic: proxy

#5156 fix(e2e): name for npm10 test
  .changeset/hip-suns-jam.md
  e2e/cli/e2e-npm10/package.json
Labels: topic: e2e

#5158 chore: fix ui-component npmignore and readme
  .changeset/tender-buckets-smoke.md
  packages/ui-components/.npmignore
  packages/ui-components/README.md
Labels: topic: readme, topic: ui

#5166 chore(config): harmonize configuration options
  .changeset/nasty-experts-bow.md
  packages/config/src/conf/default.yaml
  packages/config/src/conf/docker.yaml
  packages/core/types/src/configuration.ts
  packages/middleware/src/middlewares/web/utils/renderHTML.ts
  packages/middleware/src/middlewares/web/utils/template.ts
  packages/middleware/test/__snapshots__/template.test.ts.snap
  packages/middleware/test/template.test.ts
  packages/server/express/src/server.ts
  packages/server/express/test/config/web-enabled.yaml
  packages/server/express/test/server.spec.ts
  packages/ui-components/src/Theme/theme.ts
Labels: topic: config

#5164 chore(api): avoid double registration of JSON bodyParser
  .changeset/early-trainers-grin.md
  packages/api/src/index.ts
Labels: plugins, topic: api

#5162 chore: cleanup utils
  .changeset/few-ears-deny.md
  packages/api/src/user.ts
  packages/api/src/v1/profile.ts
  packages/config/src/config.ts
  packages/core/core/src/index.ts
  packages/middleware/src/middlewares/json.ts
  packages/plugins/local-storage/src/dir-utils.ts
  packages/server/fastify/src/endpoints/user.ts
  packages/server/fastify/src/plugins/coreUtils.ts
  packages/server/fastify/src/routes/web/api/login.ts
  packages/store/src/lib/star-utils.ts
  packages/store/src/lib/storage-utils.ts
  packages/store/src/storage.ts
  packages/store/test/storage-utils.spec.ts
  packages/store/test/storage.spec.ts
  packages/utils/src/utils.ts
  packages/utils/test/utils.spec.ts
  packages/web/src/api/user.ts
Labels: topic: core

#5169 chore: clean up code
  .pnp.cjs
  package.json
  src/api/middleware.ts
  src/api/web/api/package.ts
  src/lib/config-utils.ts
  src/lib/constants.ts
  src/lib/storage.ts
  src/lib/utils.ts
  src/types/index.ts
  test/unit/modules/utils/config-utils.spec.ts
  test/unit/modules/utils/utils.spec.ts
  yarn.lock
Labels: topic: maintenance, 6.x branch (latest)

#5165 fix(middleware): scoped package for allow checks
  .changeset/odd-fishes-cry.md
  packages/middleware/src/middlewares/allow.ts
  packages/middleware/test/allow.spec.ts
Labels: topic: middleware

#5173 fix: add legacy getMatchedPackagesSpec to config
  src/api/index.ts
  src/lib/config.ts
  src/lib/storage.ts
Labels: 6.x branch (latest)

#5174 chore: add locakstack example s3 aws plugin
  docker-examples/v6/README.md
  docker-examples/v6/amazon-s3-docker-example/README.md
  docker-examples/v6/amazon-s3-docker-example/docker-compose.yaml
  docker-examples/v6/amazon-s3-docker-example/init-s3.py
  docker-examples/v6/amazon-s3-docker-example/localStack-resources/Dockerfile
  docker-examples/v6/amazon-s3-docker-example/localStack-resources/entry.sh
  docker-examples/v6/amazon-s3-docker-example/s3Plugin/Dockerfile
  docker-examples/v6/amazon-s3-docker-example/s3Plugin/config.yaml
Labels: docs, docker-examples

#5176 chore: add docker example for verdaccio-github-oauth-ui
  docker-examples/v6/README.md
  docker-examples/v6/verdaccio-github-oauth-ui/README.md
  docker-examples/v6/verdaccio-github-oauth-ui/docker-compose.yaml
  docker-examples/v6/verdaccio-github-oauth-ui/plugin/Dockerfile
  docker-examples/v6/verdaccio-github-oauth-ui/plugin/config.yaml
Labels: docs, docker-examples

#5177 feat: add legacyMergeConfigs as option
  .changeset/large-turkeys-change.md
  packages/auth/src/auth.ts
Labels: issue: bug
